@font-face {
    font-family: "Passion";
    src: url(fonts/Passion_One-2/PassionOne-Bold.ttf);
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    text-align: center;
    margin: 0px;
    padding: 35px;
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}