@font-face {
    font-family: Passion;
    src: url(fonts/Passion_One-2/PassionOne-Regular.ttf);
}

@font-face {
    font-family: Sriracha;
    src: url(fonts/Sriracha/Sriracha-Regular.ttf);
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    padding: 50px;
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    font-size: 10vw;
    font-family: var(--fonte2);
    font-variant: small-caps;
}

header p {
    font-size: 3vw;
    font-family: var(--fonte1);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

article p {
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

article p.imagem {
    background-size: 150%;
    background-position: center;
}

article p#flor {
    background-image: url(pacote-d012/imagens/background001.jpg);
    color: white;
}

article p#livro {
    background-image: url(pacote-d012/imagens/background002.jpg);
    color: white;
}